body{
   text-align: center;
}

/*Upper part*/
.upper-part{
    text-align: right;
    vertical-align: bottom;
}

.nabar-nav {
    text-align: right;
    position: absolute;
}

.right{
    float:right;
}

/*Middle Part*/
.middle-section{
    text-align: center;
}

.title-image{
    text-align: center;
}
/*Search box*/
.wrapper{
    text-align: center;
    padding: 20px 0 30px;
    margin: 20px;
}

.search-box input{
    width: 400px;
    border-radius: 10%;
}


/*Footer*/


#left-links{
    float: left;
}

#right-links{
    float: right;
}