body{
   text-align: center;
}

.upper-part{
    text-align: right;
    vertical-align: bottom;
}

/*Footer*/
.footer{
    background-color: blue ;
}
.footer :hover{
    color: black underline;
    background-color: black underline;
}

.navbar-brand{
    font-size: 20px;
}

/*Google Name*/
.google-name, .middle-buttons{
    text-align: center;
}

.wrapper{
    text-align: center;
    width: 100%;
    padding: 20px 0 30px;
    margin: 20px;
}

.search-box{
    box-sizing: border-box;
}